[submodule "front-end-web-app"]
	path = front-end-web-app
	url = https://github.com/Vinod2311/Pi-Plant-Monitoring.git
[submodule "Pi-sensor-collection"]
	path = Pi-sensor-collection
	url = https://github.com/Vinod2311/Rasp-pi-Sensor-Data-Collection-and-Cloud-Upload.git
[submodule "Pi-sensor-collection-sub-repo"]
	path = Pi-sensor-collection-sub-repo
	url = https://github.com/Vinod2311/Rasp-pi-Sensor-Data-Collection-and-Cloud-Upload.git
[submodule "front-end-web-app-sub-repo"]
	path = front-end-web-app-sub-repo
	url = https://github.com/Vinod2311/Pi-Plant-Monitoring.git
